@import '../../../../app/_library';
.sectionContainer {
  padding: 100px 80px 60px;

  & > div {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
}

.titleContainer {
  position: relative;
  align-self: flex-start;

  & svg {
    position: absolute;
    bottom: -120px;
    right: 0px;
  }

  & span {
    color: $dark-purple;

    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-transform: uppercase;
  }

  & .titleWithGreenBg {
    margin-top: -6px;
    height: 64px;
    transform: rotate(-2deg);
    padding: 4px 24px 24px;
    border-radius: 40px;
    background: $green-light;

    & span {
      color: $white;
    }
  }
}

.purpleBlocksWrapper {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;

  // TODO: fix bg
  // background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzODciIGhlaWdodD0iNDg0IiB2aWV3Qm94PSIwIDAgMzg3IDQ4NCIgZmlsbD0ibm9uZSI+PHBhdGggZD0iTTgzNS42OTcgLTEyNS4yNEM4NDguODI5IDguMDg1NzQgODU5LjQgMTc2Ljg0OSA2ODAuNTggNjcuMjYyNkM1MjIuNjg1IC0yOS41MDA2IDUwOS44MzEgMTAwLjM0MSA1MTQuOTQzIDIzNC41NjRDNTE2LjQ3MiAyNzQuNzMzIDUxNi4wMzggMzQxLjkxNSA0ODAuNzg3IDM1Ni40MTNDNDQ3LjkyMyAzNjkuOTMgMzc2LjQ4MiAzMjkuOTQgMzM1LjkwMyAzMjcuNjM2QzI1MS45MDYgMzIyLjg2OSAyMjkuNjU5IDQ1NS4wMDkgMjAxLjYzMiA1MTQuOTFDMTYwLjYyOSA2MDIuNTQ0IDEyMi4xNjkgNjgzLjU0NyA0MC4wODg5IDcyOC40OCIgc3Ryb2tlPSIjNkE1MUEyIiBzdHJva2Utb3BhY2l0eT0iMC4zNSIgc3Ryb2tlLXdpZHRoPSI4MCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+PC9zdmc+');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }
}

.purpleContainer {
  display: flex;
  max-width: 416px;
  width: 100%;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  flex: 1 0 0;
  border-radius: 40px;
  background: $purple-light;
  mix-blend-mode: multiply;

  color: $white;
}

.userReview {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.14px;
}

.userInfoContainer {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;

  & span {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.16px;
  }

  & > div:first-of-type {
    border-radius: 80px;
  }

  & > div:last-of-type {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
  }
}
