@import '../../../../app/_library';

.sectionContainer {
  padding: 100px 80px 10px 80px;
  color: $dark-purple;

  & > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }
}

.titleContainer {
  text-align: center;
  font-size: 46px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;

  & p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  & span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    padding: 14px 24px 18px 24px;
    color: $white;
    border-radius: 40px;
    background: $green-light;
  }

  & .rotatedText {
    transform: rotate(2deg);
  }
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  gap: 16px;

  & .imageContainer {
    flex-shrink: 0;
    width: 524px;
    // height: 848px;
    border-radius: 40px;
    background:
      linear-gradient(0deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%),
      url('/images/homePageGoalImgKid.png') lightgray 50% / cover no-repeat;
  }
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  gap: 40px;

  & .contentTitle {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.24px;
    text-transform: uppercase;
  }

  & .labelsContainer {
    position: relative;

    & > svg {
      position: absolute;
      top: -75px;
      right: 0;
    }

    & > div:hover {
      background-color: $dark-purple;
      color: $white;
    }

    & > div {
      border-radius: 40px;
      border: 2px solid $dark-purple;
      background-color: transparent;
      transition: all 0.3s ease-out;

      display: flex;
      padding: 32px;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;

      & > span {
        font-size: 16px;

        letter-spacing: 0.16px;
        text-transform: uppercase;
      }

      & > p {
        font-size: 14px;
        letter-spacing: 0.14px;
      }
    }
  }
}
