//DISPLAYS
$xlg_desktop_size: 1900px;
$lg_desktop_size: 1600px;
$desktop_size: 1440px;
$laptop_size: 1200px;
$tablets_size: 992px;
$lg_phone_size: 768px;
$md_phone_size: 600px;
$sm_phone_size: 480px;

// COLORS
$white: #ffffff;
$dark-purple: #6a51a2;
$purple-light: #9989c7;
$green-light: #97e334;
$green-dark: #81c22a;
$pink: #db9ac2;
$baby-blue: #5eb8c3;
$orange: #f68237;
$yellow: #ffc90c;
$grey: #d4cfdd;
$black: #0d061c;
$red: #c10808;
