@import './_reset';
@import './_library';

@font-face {
  font-family: 'Artegra Sans Extended';
  src:
    local('Artegra Sans Extended'),
    url('/fonts/ArtegraSansExSemiBold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/ArtegraSansExSemiBold.woff2') format('woff2'),
    url('/fonts/ArtegraSansExSemiBold.woff') format('woff'),
    url('/fonts/ArtegraSansExSemiBold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-primary: 'Artegra Sans Extended', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
}

main {
  padding-top: 100px;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.banner-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

h1 {
  color: $white;
  font-family: 'Artegra Sans Extended';
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
