@import './_reset';
@import './_library';

// @font-face {
//   font-family: 'Artegra Sans Extended';
//   src: url('/fonts/ArtegraSansExRegular.eot');
//   src:
//     local('Artegra Sans Extended'),
//     local('ArtegraSansExRegular'),
//     url('/fonts/ArtegraSansExRegular.eot?#iefix') format('embedded-opentype'),
//     url('/fonts/ArtegraSansExRegular.woff2') format('woff2'),
//     url('/fonts/ArtegraSansExRegular.woff') format('woff'),
//     url('/fonts/ArtegraSansExRegular.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }

@font-face {
  font-family: 'Artegra Sans Extended';
  src:
    local('Artegra Sans Extended'),
    url('/fonts/ArtegraSansExMedium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/ArtegraSansExMedium.woff2') format('woff2'),
    url('/fonts/ArtegraSansExMedium.woff') format('woff'),
    url('/fonts/ArtegraSansExMedium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  --font-primary: 'Artegra Sans Extended', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-primary);
}

main {
  padding-top: 100px;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.banner-container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

h1 {
  color: $white;
  font-family: 'Artegra Sans Extended';
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
