@import '../../../../app/_library';

.footerWrapper {
  height: 100%;
  width: 100%;
  background-color: $purple-light;
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="1440" height="673" viewBox="0 0 1440 673" fill="none"%3E%3Cpath d="M1663.19 64.291C1577.91 229.201 1461.86 434.482 1307.12 202.884C1170.49 -1.61467 1053.13 144.327 956.424 305.71C927.484 354.007 875.076 433.073 816.722 430.038C762.32 427.209 697.574 339.158 645.053 313.242C536.335 259.596 404.63 402.881 320.917 457.578C198.447 537.597 84.4963 611.243 -59.9976 617.368" stroke="%236A51A2" stroke-opacity="0.35" stroke-width="200" stroke-linecap="round"%3E%3C/path%3E%3C/svg%3E');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 60px 40px;
}

.footerHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;

  border-bottom: 1px solid $grey;

  & > div {
    width: 100%;

    & span {
      color: $white;

      font-size: 24px;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: 0.24px;
      text-transform: uppercase;
    }
  }
}

.footerSideContainer {
  max-width: 415px;
}

.footerContentWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  & > nav {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;

    & > div {
      width: 272px;
    }

    & .footerNavTitle {
      color: $white;

      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: 0.16px;
      text-transform: uppercase;
    }

    & .menuList {
      margin-top: 32px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 24px;
    }
  }
}

.footerContactsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;

  color: $white;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.16px;

  & > div {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
  }
}

.instLinkContainer {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.footerContainer {
  display: flex;
  gap: 60px;
  align-items: flex-start;
  flex-direction: column;

  & > div {
    width: 100%;
  }
}

.footerRightsContainer {
  & > span {
    color: $white;

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
    letter-spacing: 0.14px;
  }
}

.menuItem {
  position: relative;
  cursor: pointer;
  color: $white;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.16px;
}

.menuItem::after {
  content: ' ';
  position: absolute;
  left: 0;
  top: 24px;
  width: 100%;
  height: 2px;
  background-color: $white;
  border-radius: 2px;
  transform: scaleX(0);
  transition: transform 0.2s;
  transform-origin: left;
}

.menuItem:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}
