@import "./_reset";
@import "./_library";

:root {
  --white: #ffffff;
  --dark-purple: #6a51a2;
  --purple-light: #9989c7;
  --green-light: #97e334;
  --green-dark: #81c22a;
  --pink: #db9ac2;
  --baby-blue: #5eb8c3;
  --orange: #f68237;
  --yellow: #ffc90c;
  --grey: #d4cfdd;
  --black: #0d061c;
  --red: #c10808;
}
