@import '../../../../app/_library';

.sectionWrapper {
  padding: 100px 80px 60px 80px;
}

.contentWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 124px;

  margin-top: 80px;
}

.contentContainer {
  flex: 6;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;

  & .description {
    & p {
      color: $purple-light;

      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: 0.24px;
      text-transform: uppercase;

      & span {
        color: $dark-purple;
      }
    }
  }
}

.imageContainer {
  flex: 5;
  height: 580px;
  background-image: url('/images/preschoolPage/boyPhoto.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 40px;
  display: flex;
  align-items: flex-end;

  & .greenBanner {
    position: relative;
    display: flex;
    height: fit-content;
    transform: rotate(-2deg) translateY(40px) scale(101%);
    padding: 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-image: url('/images/preschoolPage/greenBannerLineBG.svg');
    background-size: cover;
    border-radius: 40px;
    background-color: $green-light;

    & > svg {
      position: absolute;
      left: -60px;
      top: 35px;
    }

    & > p {
      color: $white;

      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: 0.16px;
    }
  }
}

.sectionTitle {
  text-align: center;
  color: $dark-purple;

  font-size: 46px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  text-transform: uppercase;
  text-transform: uppercase;

  & .titleWithGreenBg {
    display: inline-block;
    height: 64px;
    width: fit-content;
    color: $white;
    padding: 4px 24px 24px;
    border-radius: 40px;
    background: $green-light;

    &.rotatedTitle {
      transform: rotate(-2deg);
      margin-top: -6px;
    }
  }
}

.purpleBoxesWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  & > div {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  & > div:nth-of-type(2) {
    align-self: flex-end;

    & svg {
      transform: rotateY(-0.5turn);
    }
  }

  & span {
    position: relative;
    display: block;
    color: $white;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.16px;
    text-transform: uppercase;
    z-index: 1;
  }

  & .box {
    width: 308px;
    height: 124px;
    border-radius: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &::before {
      height: 133px;
      font-size: 170px;
      font-weight: 400;
      line-height: 100%;
      text-transform: uppercase;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      z-index: 0;
    }
  }
}

.darkPurpleBox {
  background-color: $dark-purple;
  &::before {
    content: '2';
    color: rgba(153, 137, 199, 0.35);
  }
}

.lightPurpleBox {
  background-color: $purple-light;
  &.firstBox::before {
    content: '1';
    color: rgba(106, 81, 162, 0.35);
  }

  &.thirdBox::before {
    content: '3';
    color: rgba(106, 81, 162, 0.35);
  }
}
